#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
footer {
  height: 60px;
}
html,
body {
  height: 100%;
}
.content {
  margin-top: 40px;
  margin-bottom: 40px;
}
.glyphicon-remove,
.glyphicon-pause,
.glyphicon-play {
  cursor: pointer;
}
tr.unpublished {
  color: #cec1c2;
}
td.action {
  width: 20px;
}
.alert {
  margin-top: 20px;
}
