<Title:>
  Todos
<Head:>
  <link type="text/css" href="/css/bootstrap.css" rel="stylesheet">
<Body:>
  <div id="overlay"></div>
  <form id="head" x-bind="submit: add">
    <h1>Todos <span>{remaining(_page.list)} remaining</span></h1>
    <div id="add">
      <div id="add-input"><input id="new-todo" value="{_page.newTodo}"></div>
      <input id="add-button" type="submit" value="Add">
    </div>
  </form>
  <div id="dragbox"></div>
  <div id="todos">
    {#each _page.list as :todo}
      <app:todo>
    {/}
  </div>

<todo:>
  <table class="{#if :todo.completed}completed{/}">
    <td class="handle" width="0"></td>
    <td width="100%">
      <div class="todo">
        <label><input type="checkbox" checked="{:todo.completed}"><i></i></label>
        <input class="text btn" value="{:todo.text}"><i></i>
      </div>
    </td>
    <td width="0"><button class="delete btn" x-bind="click: del">Delete</button></td>
  </table>
